.App-logo {
  height: 5vmin;
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
}
.App-logo2 {
  height: 3vmin;
  cursor: pointer;
}
.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  /* justify-content: center; */
  color: white;
  padding: 2%;
}

.link {
  color: #61dafb;
}
.selectbox{
  margin-bottom: 1%;
}
#searchinput {
  width: 400px;
}
#searchclear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}
.mainbody{
  background-color: #ffffff;
  color: #282c34;
  border-radius: 3px;
  height: 100%;
  padding: 1%;
}

table{
  width : 100%;
}

td{
  text-align: center;
}

td:hover{
  background-color: #B5B4F5;
  text-decoration: none;
}

tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {
 background-color: #fff;
}

th{
  background-color: #282c34;
  color : #fff;
}

.sameline{
  display:inline-block
}
.mr{
  margin-right: 2%;
}
.mb{
  margin-bottom: 2%;
}
.leftside{
  position: absolute;
  left: 3%;
}
.rightside{
  position: absolute;
  right: 3%;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.initialentry{
  min-height: 68vh; 
  margin-bottom: 5px;
}

select{
  width:100%;
}
button{
  background: #B39DB6;
  border-radius: 5px;
  width: 20%;
  cursor:pointer;
  position: relative;
  left:80%;
  height:5%;
}
.expandInputboxes{
  margin-left:2%;
  width:80%;
}
.clickable:hover{
  cursor:pointer;
  background-color: #B39DB6;
}
.expandFULL{
  width:80%;
}
.normal{
  margin-left: 2%;
  width:auto;
  position: static;
}